body{
    position: fixed;
    background-image: url("images/glacier_cave.jpg");
    background-repeat: no-repeat;
    background-size: 1690px;
    width: 1600px;
    height: 910px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

.hidden-geode{
  position: fixed;
  height: 100px;
  width: 100px;
  /* border-style: solid;
  border-width: 5px; */
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.hidden-geode:hover{
   cursor: cell;
}


.user-items{
  position: relative;
  height: 200;
}


.delete-button{
  width: 15px;
  height: 15px;
  padding: 0px;
}


#pouch{
  position: absolute;
  min-width:145px;
  min-height: 134px;
  background: white;
  padding: 10px;
  left: 10px;
  top: 10px;
  border-style: solid;
  border-width: 5px;

}

#sparkles{
  position: relative;
  padding: 0px;
  top: 250px;
  left: 525px;
  padding-top: 45px;
  padding-bottom: 45px;
  height:300px;
  width: 600px;
  /* border-style: solid;
  border-width: 5px; */
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
filter: drop-shadow(5px 5px 5px #222);

}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#hidden-geode-1{
  left: 200px;
  top: 700px;
}

#hidden-geode-2{
  left: 500px;
  top: 30px;
}

#hidden-geode-3{
  left: 1400px;
  top: 300px;
}

#hidden-geode-4{
  left: 900px;
  top: 600px;
}

#hidden-geode-5{
  left: 200px;
  top: 50px;
}

#hidden-geode-6{
  left: 1050px;
  top: 720px;
}

#hidden-geode-7{
  left: 1200px;
  top: 307px;
}

#hidden-geode-8{
  left: 1300px;
  top: 50px;
}

#hidden-geode-9{
  left: 760px;
  top: 100px;
}

#hidden-geode-10{
  left: 500px;
  top: 700px;
}

#hidden-geode-11{
  left: 620px;
  top: 1350px;
}

#hidden-geode-12{
  left: 307;
  top: 1400px;
}

#hidden-geode-13{
  left: 800px;
  top: 1400px;
}

#hidden-geode-14{
  left: 260px;
  top: 500px;
}

#hidden-geode-15{
  left: 700px;
  top: 600px;
}

#hidden-geode-16{
  left: 420px;
  top: 1350px;
}

#hidden-geode-17{
  left: 1300px;
  top: 600px;
}

#hidden-geode-18{
  left: 300px;
  top: 200px;
}

#hidden-geode-19{
  left: 1000px;
  top: 10px;
}

#hidden-geode-20{
  left: 1400px;
  top: 500px;
}




*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.row {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.column {
    float: left;
}

.span_4 {
    width: 33.3333%;

}
