body{
    position: fixed;
    background-image: url("images/glacier_cave.jpg");
    background-repeat: no-repeat;
    background-size: 1690px;
    width: 1600px;
    height: 850px;
}

.hidden-geode{
  position: fixed;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 5px;
}

.user-items{
  position: relative;
  height: 200;
}


#pouch{
  position: absolute;
  background: white;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
}

#hidden-geode-1{
  left: 200px;
  top: 600px;
}

#hidden-geode-2{
  left: 500px;
  top: 30px;
}

#hidden-geode-3{
  left: 1200px;
  top: 300px;
}

#hidden-geode-4{
  left: 900px;
  top: 600px;
}

#hidden-geode-5{
  left: 700px;
  top: 500px;
}



#sparkles{
  position: relative;
  background-image: url("images/sparkles.png");
  padding: 0px;
  top: 200px;
  margin: auto;
  height:300px;
  width: 600px;
}


*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.row {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.column {
    float: left;
    padding: 0 15px;
}

.span_4 {
    width: 33.3333%;
}
